.heading{
    width: 100%;
    text-align: left;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.heading h3{
    display: inline;
}
 
.mario_image{
    width: 100%;
}

#start, #status{
    font-size: 22px;
}

h4{
    background-color: aliceblue;
    margin: 0px;
    line-height: 2;
}

.modal-dialog{
    width: 90%;
}

.instructions_image{
    width: 45%;
    display: inline-block;
}